*, *:before, *:after {
    box-sizing: border-box;
    
  }

body {
    background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
    font-size: 12px;
  }


  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }

main {
    display:flex;
    
  height: 100%;
  width: 100%;  
  
  justify-content: center;
  align-items: center;

  
  
  }


  .app-content {
      position: relative;
      height: 28rem;
      width: 70%;
      
      margin-top: 8rem;
      display:flex;
      justify-content: space-around;
      
      padding: 10px;
      border-radius: 25px;
background: #3e3e3e;      
      
  }


  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  
  .app-contact {
    margin-top: auto;
    font-size: 0.7rem;
    color: #888;
  }
  
form {
    width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    margin-bottom: 1rem;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  

.app-form-control::placeholder {
    
        color: #666;
      }
      
.app-form-control:focus {
        border-bottom-color: #ddd;
      }
      
      .form-button-group {
            margin-top: 2rem;
            margin-bottom: 0;
            text-align: right;
                      }
      
      .form-button {
        background: none;
        border: none;
        color: #ea1d6f;
        font-size: 14px;
        cursor: pointer;
        outline: none;
      }
      
      .form-button:hover {
        color: #b9134f;
      }

      

      select {
        width: 100%;
        
        padding: 8px 10px;
        border: 1px solid grey;
        color:white;
        border-radius: 4px;
        background-color: transparent;
      }